<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <style>
    .left-sapce 
      { margin-left: 600px; }
    .span-color{
      background-color: green; 
    }

    .links line {
      stroke: #999;
      stroke-opacity: 0.6;
    }

    .nodes circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }

    text {
      font-family: sans-serif;
      font-size: 10px;
    }

  </style>

  <title>Viz for Multi-hop Reasoning</title>


  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.css">
</head>

<body>

  <div id = "main" class="main-class" style="margin-left:20px; margin-bottom:10px;">

    <h1 style="margin-bottom:30px;"> Visualization for Multi-hop Reasoning </h1> 

    <h4> Question: </h4> 
    <div id="Question"> </div>

    <h4> Candidate Answer: </h4> 
    <ol id="Candidate Answer" style="margin-bottom:10px;"> </ol>
    <input type="text" id="add_fact" placeholder="add a supporting fact">
    <svg id="graph" width="960" height="600"></svg>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.3.1/jquery.quicksearch.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.9.0/math.js"></script>
    <script type="text/javascript">

    $(document).ready(function() {

      $.ajax({
        url: "http://127.0.0.1:5000/fetch_first_example",
        method: 'GET',
        contentType: 'application/json',
        success: function(data, textStatus, jQxhr){
          renderpage(data);
        },
        error: function( jqXhr, textStatus, errorThrown ){
            $('#facts').html( "There was an error" );
            console.log( errorThrown );
        }
      });

      //post selected_facts_indexes to server, and get next example
      $('#next_example').click(function() {
        
        //return annotation
        var annotations = [];
        var selected_facts_indexes =[];   //TO-DO: need to enbale select facts in graph
        annotations.push(selected_facts_indexes);
        console.log(add_facts[0]);
        console.log(add_facts[1]);
        annotations.push(add_facts);

        annotation_and_next_example(annotations);   

        return false;
      });

      $('#i_do_not_know').click(function() {
        var annotations = [[],[]];
        annotation_and_next_example(annotations);   
        return false;
      });

 
      // when press 'enter' textbox, add the text in the input box as an added fact
      $(document.body).on('keyup', $('#add_fact'), function(event) {
        if(event.keyCode == 13) { // 13 = Enter Key
          var add_text = $('#add_fact')[0].value;   //text input as an added fact
          if(add_text){
            add_facts.push(add_text);     
          }
          $('#add_fact')[0].value = '';
          //TO-DO: re-render the page with the added fact
        }
      });
       
    });

    function annotation_and_next_example(input_annotation) {
      $.ajax({
          url: "http://127.0.0.1:5000/annotation_and_next_example",
          method: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(input_annotation),
          success: function( data, textStatus, jQxhr ){
            renderpage(data);
          },
          error: function( jqXhr, textStatus, errorThrown ){
              $('#facts').html( "There was an error" );
              console.log( errorThrown );
          },
          timeout: 3000
      });
    }

    function renderpage(data) {
      document.getElementById("Question").textContent = data['question_text'];
      var ol = document.getElementById("Candidate Answer");
      if(ol.hasChildNodes()){  //clear candidate answers from previous question
        ol.innerHTML = '';
      }
      //display candidate answers in an ordered list
      for (var i = 0; i < 4; i++){
        var li = document.createElement("li");
        var spanNode = document.createElement("span");
        spanNode.textContent = data['choice_text'][i];
        if(i == parseInt(data['answer_choice_id'])){ 
          spanNode.setAttribute('style', 'background-color: yellow');
        }
        li.appendChild(spanNode);
        ol.appendChild(li);
      }

      var facts = [];  
      var facts_embedding = [];   
      var num_facts = data['facts_text'].length;

      for(var i = 0; i < num_facts; i++) { 
        //Read options reversely, since the facts are ranked in descending order by lucene score
        var fact = data['facts_text'][num_facts-1-i];
        var fact_embed = data['facts_embedding'][num_facts-1-i];
        facts_embedding.push(fact_embed);

        var f = {};
        f["id"] = fact;
        f["embed"] = fact_embed;
        facts.push(f);
      }

      //compute the similarity as the value of the edges
      var edges = [];
      for(var i = 0; i < num_facts; i++) { 
        for(var j = i+1; j < num_facts; j++) { 
          var similarity = cosineSimilarity(facts_embedding[i], facts_embedding[j]);
          if(similarity > 0.8){   //0.8 is hyperparameter, higher values lead to less links
            var edge = {};
            edge["source"] = facts[i].id;
            edge["target"] = facts[j].id; 
            edge["value"] = similarity;
            edges.push(edge);
          }
        }
      }

      var svg = d3.select("svg[id='graph']"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

      svg.selectAll("*").remove();

      var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.id; }))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

      var link = svg.append("g")
        .attr("class", "links")
        .selectAll("line")
        .data(edges)
        .enter().append("line")
        .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

      var node = svg.append("g")
        .attr("class", "nodes")
        .selectAll("g")
        .data(facts)
        .enter().append("g")

      var circles = node.append("circle")
        .attr("r", 5)
        .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

      node.append("title")
        .text(function(d) { return d.id; });

      simulation
        .nodes(facts)
        .on("tick", ticked);

      simulation.force("link")
        .links(edges);

      function ticked() {
        link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node
            .attr("transform", function(d) {
              return "translate(" + d.x + "," + d.y + ")";
            })
      }

      function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
      }

      function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
      }

      function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
      }

      add_facts = [];
    }


    function vecDotProduct(vecA, vecB) {
      var product = 0;
      for (var i = 0; i < vecA.length; i++) {
        product += vecA[i] * vecB[i];
      }
      return product;
    }

    function vecMagnitude(vec) {
      var sum = 0;
      for (var i = 0; i < vec.length; i++) {
        sum += vec[i] * vec[i];
      }
      return Math.sqrt(sum);
    }

    function cosineSimilarity(vecA, vecB) {
      return vecDotProduct(vecA, vecB) / (vecMagnitude(vecA) * vecMagnitude(vecB));
    }


    </script>
    <button id="next_example">next</button>  
    <button id="i_do_not_know" style="margin-left: 20px">skip</button>  

  </div>
</body>

</html>