<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <style>
    .bottom-one 
      { margin-bottom: 1cm; }
    .left-sapce 
      { margin-left: 15px; }
  </style>

  <title>Viz for Multi-hop Reasoning</title>
</head>
<body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.3.1/jquery.quicksearch.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.js'></script>


  <script type="text/javascript">

var current_example = 0

	function fetch_first_example() {
	  $.ajax({
		url: "http://127.0.0.1:5000/fetch_first_example",
		method: 'GET',
		contentType: 'application/json',
		success: function( data, textStatus, jQxhr ){
			d3.select('#word').html(data)
		},
		error: function( data, textStatus, jQxhr ){
			d3.select('#word').html('There was an error')
		  console.log( errorThrown );
		},
		timeout: 3000
	  });
	}

	function fetch_next_example(input) {
	  $.ajax({
		url: "http://127.0.0.1:5000/fetch_next_example",
		method: 'POST',
		contentType: 'application/json',
		data: JSON.stringify(input),
		success: function( data, textStatus, jQxhr ){
			d3.select('#word').html(data['word'])
			d3.select('#dynamicbutton').html('next example '+current_example)
		  current_example = data["counter"]
		},
		error: function( data, textStatus, jQxhr ){
			d3.select('#word').html('There was an error')
		  console.log( errorThrown );
		},
		timeout: 3000
	  });
	}


	function first_example()  {
		current_example = 0
		fetch_first_example();
	}

	function next_example()  {
		fetch_next_example(current_example);
	}

  </script>

  <div id="word">word</div>
  <button onclick="first_example()">first example</button>
  <button id='dynamicbutton' onclick="next_example()">next example</button>

</body>

</html>
